<h1>Author and Articles</h1>

<h2><%= @author.name%></h2>
<%@author.articles.each do |article|%>
<h3><%=link_to article.title, author_article_path(article.author, article)%></h3>
<p><%=truncate(article.body, length: 4)%></p>
<%end%>

